<td class="sonata-ba-list-field sonata-ba-list-field-{{ field_description.type }}"
    objectId="{{ admin.id(object) }}"
    style="">
    <span title="{{ object.getObjectClass }}" style="cursor: help">
        {{ object.getObjectClass|trans({}, 'activity_block')|split('\\')|last }}
    </span>
</td>
