{% extends 'base.html.twig' %}

{% block body %}
    <div class="vue-app">
        <core-user-password-reset-form csrf="{{ csrf_token('resetting') }}"></core-user-password-reset-form>
    </div>
{% endblock %}
